{% import "macros/macros.html" as post_macros %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {# Additional performance and SEO meta tags #}
    <meta name="theme-color" content="#ff6b35">
    <meta name="msapplication-TileColor" content="#ff6b35">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    {# Language and content optimization #}
    <meta name="language" content="en">
    <meta name="author" content="Bob Peters">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    
    {# Performance hints #}
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">

    {% if page.extra.meta %}
         <!-- the meta data config goes here  -->
         {% for data in page.extra.meta %}
             <meta 
                 {% for key, value in data%}
                     {% if key == "property" and value == "og:title"%}
                         {% set_global page_has_og_title = true -%}
                     {% endif %}
                     {% if key == "property" and value == "og:description"%}
                         {% set_global page_has_og_description = true -%}
                     {% endif %}
                     {% if key == "name" and value == "description"%}
                         {% set_global page_has_description = true -%}
                     {% endif %}
                     {{ key }}="{{ value }}"
                {% endfor %}
            />
        {% endfor %}
    {% endif %}

    {# Site title #}
    {% set current_path = current_path | default(value="/") %}
    {% if current_path == "/" %}
    <title>
        {{ config.title | default(value="Home") }}
    </title>
    {% if not page_has_og_title %}
        <meta property="og:title" content="{{ config.title | default(value="Home") }}" />
    {% endif %}

    {% else %}
    <title>
        {% if page.title %} {{ page.title }}
        {% elif config.title %} {{ config.title }}
        {% else %} Post {% endif %}
    </title>

        {% if not page_has_og_title %}
            <meta property="og:title" content="{% if page.title -%}{{ page.title }}{% elif config.title -%}{{ config.title }}{% else -%}Post{% endif -%}" />
        {% endif %}
     {% endif %}

     {% if not page_has_og_description %}
         {% if page.description %}
             <meta property="og:description" content="{{ page.description }}" />
         {% elif config.description %}
             <meta property="og:description" content="{{ config.description }}" />
         {% endif %}
     {% endif %}

     {% if not page_has_description %}
         {% if page.description %}
             <meta name="description" content="{{ page.description }}" />
         {% elif config.description %}
             <meta name="description" content="{{ config.description }}" />
         {% endif %}
    {% endif %}

    {# Favicon #}
    {% if config.extra.favicon %}
        <link rel="icon" type="image/x-icon" href={{ get_url(path=config.extra.favicon) }} />
    {% endif %}

    {# Font preloading for performance #}
    {% if not config.extra.use_cdn | default(value=false) %}
        <link rel="preload" href="{{ get_url(path='fonts/JetbrainsMono/JetBrainsMono-Regular.ttf') }}" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="{{ get_url(path='fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf') }}" as="font" type="font/ttf" crossorigin>
    {% endif %}

    {# Font from cdn or disk #}
    {% if config.extra.use_cdn | default(value=false) %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/space-grotesk@4.5.8/index.min.css">
    {% else %}
        <link href={{ get_url(path="fonts.css") }} rel="stylesheet" />
    {% endif %}

    {# Analytics #}
    {% if config.extra.analytics.enabled and config.extra.analytics.goatcounter_user %}
        {% set user = config.extra.analytics.goatcounter_user %}
        {% set host = config.extra.analytics.goatcounter_host | default(value="goatcounter.com") %}

        <script data-goatcounter="https://{{ user }}.{{ host }}/count" async src="{{ get_url(path="js/count.js") }}"></script>
        <noscript>
            {# EasyList blocks '.com/count?', so we have to use '.com//count' #}
            <img src="https://{{ user }}.{{ host }}//count?p={{ current_path }}&t={{ page.title | default(value=config.title) }}">
        </noscript>
    {% endif %}


    {% if config.extra.mathjax | default(value=false) %}
        {% if config.extra.mathjax_dollar_inline_enable | default(value=false) %}
            <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
            </script>
        {% endif %}
        <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    {% endif %}

    {# RSS #}
    <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">

    {# Twitter Card and enhanced Open Graph #}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@rust_trends" />
    <meta name="twitter:creator" content="@bob_peters" />
    {% if page.title %}
        <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
        <meta name="twitter:title" content="{{ config.title }}" />
    {% endif %}
    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}" />
    {% elif config.description %}
        <meta name="twitter:description" content="{{ config.description }}" />
    {% endif %}
    
    {# Open Graph enhancements #}
    <meta property="og:type" content="{% if page %}article{% else %}website{% endif %}" />
    <meta property="og:url" content="{% if page %}{{ page.permalink }}{% else %}{{ config.base_url }}{% endif %}" />
    <meta property="og:site_name" content="{{ config.title }}" />
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date(format='%Y-%m-%d') }}" />
    {% endif %}
    {% if page.extra.edited %}
        <meta property="article:modified_time" content="{{ page.extra.edited | date(format='%Y-%m-%d') }}" />
    {% endif %}
    {% if page and 'newsletter' in page.permalink %}
        <meta property="article:section" content="Newsletter" />
    {% elif page and 'posts' in page.permalink %}
        <meta property="article:section" content="Tutorial" />
    {% endif %}
    {% if page.taxonomies and page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
            <meta property="article:tag" content="{{ tag }}" />
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen" href={{ get_url(path="main.css") }} />


    {% if config.extra.stylesheets %}
        {% for stylesheet in config.extra.stylesheets %}
            <link rel="stylesheet" href="{{ get_url(path=stylesheet) }}">
        {% endfor %}
    {% endif %}

    {# Schema.org structured data #}
    {{ post_macros::organization_schema() }}
    {{ post_macros::website_schema() }}
    {% if page %}
        {{ post_macros::article_schema(page=page) }}
        {{ post_macros::breadcrumb_schema(page=page) }}
    {% endif %}
</head>
